@import "~bootstrap/scss/bootstrap";

body {
  background-color: green;
}

h1 {
  color: brown;
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
